{% if message.user_id != g.user.id %}
<div class="messages-like">
    <form action="/users/{{ g.user.id }}/likes/{{ message.id }}" method="POST">
        {{ g.csrf_form.hidden_tag() }}
        <button class="btn" type="submit">
            {% if message.is_liked_by_user(g.user.id) %}
            <i class="bi bi-star-fill"></i>
            {% else %}
            <i class="bi bi-star"></i>
            {% endif %}
        </button>
    </form>
</div>
{% endif %}