{% extends 'users/detail.jinja' %}
{% block user_details %}
<div class="col-sm-6">
  <ul class="list-group" id="messages">

    {% for message in user.liked_msgs %}

    <li class="list-group-item">
      <a href="/messages/{{ message.id }}" class="message-link"></a>

      <a href="/users/{{ message.user.id }}">
        <img src="{{ message.user.image_url }}"
             alt="user image"
             class="timeline-image">
      </a>

      <div class="message-area">
        <a href="/users/{{ message.user.id }}">@{{ message.user.username }}</a>
        <span class="text-muted">
              {{ message.timestamp.strftime('%d %B %Y') }}
            </span>
        <p>{{ message.text }}</p>
      </div>

      <div class="messages-like">
      <form
            action="/users/{{ user.id }}/likes/{{ message.id }}"
            method="POST"
            >
              {{ g.csrf_form.hidden_tag() }}
              <button class="btn" type="submit">
              {% if message.is_liked_by_user(g.user.id) %}
                <i class="bi bi-star-fill"></i>
              {% else %}
                <i class="bi bi-star"></i>
              {% endif %}
              </button>
      </form>
      </div>

    </li>

    {% endfor %}

  </ul>
</div>
{% endblock %}